body{
  margin: 0 auto;
  max-width: 50em;
  color: #555;
  background-color: #EEEEEE; /*Light gray*/
  font-family:"Georgia", serif;
  font-weight: normal;
  line-height: 1.5;
  padding: 4em 1em;

}

h1, h2, h3, h4, h5, h6 {
  font-family:"Georgia", serif;
  font-weight: normal;
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

p {
  background: #e7e6f8;
  padding: 2px 4px;
  padding: 1em;
  vertical-align: text-bottom;
}
