body{
  margin: 0 auto;
  color: #555;
  background-color: #EEEEEE; /*Light gray*/
  font-family:"Georgia", serif;
  font-weight: normal;
  line-height: 1.5;
  padding: 4em 1em;

}

h1, h2, h3, h4, h5, h6 {
  font-family:"Georgia", serif;
  font-weight: normal;
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

p {
  background: #e7e6f8;
  padding: 2px 4px;
  padding: 1em;
  vertical-align: text-bottom;
}

.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  background-color: #e7e6f8;
  height: 200px;
  flex: 1;
}

.main-nav {
  padding: 20px 0;
  display: flex;
}

.nav-item {
  display: flex;
  border: 1px solid #EEEEEE;
  background-color: #e7e6f8;
  height: 100px;
  flex: 1;
  justify-content:center;
  align-items: center;
}

.nav-item a:hover {
  display: flex;
  border: 1px solid #EEEEEE;
  height: 100px;
  flex: 1;
  justify-content:center;
  align-items: center;
  background-color: #340374;
  color: #eeeeee;
}

a { text-decoration: none; }
